* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body, h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	color: #444;
	font-size: 10px;
	font-family: helvetica,arial,sans-serif;
	background: #ddd;
	padding: 10px;
	border-top: 1px solid #000;
}

section, header {
	display: block;
}

#report {
	background: #f4f4f4;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 8px;
	box-shadow: 0 0 5px #bbb;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 100%;
	overflow: hidden;
}

header {
	height: 48px;
	overflow: hidden;
}

section {
	margin-bottom: 8px;
}

#logo {
	height: 42px;
	display: block;
	float: left;
}

#moreinfo {
	height: 42px;
	display: block;
	float: right;
	background: #444;
	background: -moz-linear-gradient(top, #555 0%, #333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333));
	background: -webkit-linear-gradient(top, #555 0%,#333 100%);
	background: -o-linear-gradient(top, #555 0%,#333 100%);
	background: -ms-linear-gradient(top, #555 0%,#333 100%);
	background: linear-gradient(to bottom, #555 0%,#333 100%);
	box-shadow: 0 0 4px #fff;
	line-height: 42px;
	text-align: center;
	padding: 0 14px;
	border-radius: 3px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	border: 1px solid #fff;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

h1 {
	height: 42px;
	line-height: 42px;
	margin-left: 6px;
	display: block;
	float: left;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	font-size: 2.2em;
}

table {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid #adadad;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

caption {
	text-align: left;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #adadad;
	background: #C7DCE3;
	background: -moz-linear-gradient(top, #eee 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 0%, #EAF6FA 8%,#C7DCE3 100%);
	background: -o-linear-gradient(top, #555 0%,#333 100%);
	background: -ms-linear-gradient(top, #555 0%,#333 100%);
	background: linear-gradient(to bottom, #555 0%,#333 100%);
	padding: 6px 10px;
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#reliability caption {
	font-size: 1.1em;
}

th {
	border: 1px solid #adadad;
	padding: 6px 10px;
	background: #E9F0F2;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-align: right;
	text-transform: uppercase;
	width: 25%;
	overflow: hidden;
}

td {
	border: 1px solid #adadad;
	padding: 6px 10px;
	font-size: 2em;
	text-shadow: 0 1px 0 #fff;
	text-align: left;
	width: 75%;
	overflow: hidden;
}

.reliability {
	text-transform: uppercase;
}

.reliability.poor {
	color: #D13300;
}

.reliability.good {
	color: #69A923;
}

.reliability.excellent {
	color: #805DDC;
}
